.calc {
    padding: 29px 66px 55px 64px;
    width: 1504px;
    height: 656px;
    margin: 0 auto;
    border-top: 4px solid $main_color;
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    &__brands {
        margin-top: 34px;
        margin-bottom: 40px;
        width: 1374px;
        height: 78px;
        display: flex;
        justify-content: space-between;
        &-item {
            position: relative;
            padding: 18px 95px 17px 19px;
            background: #F6F5FB;
            border-radius: 5px;
            width: 264px;
            display: flex;
            // justify-content: space-around;
            align-items: center;
            cursor: pointer;
        }
        &-name {
            margin-left: 37px;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                width: 1px;
                height: 58px;
                left: -18px;
                top: -17px;
                background-color: rgba(0, 0, 0, 0.08);
            }
        }
        &-number {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 10px;
            right: 10px;
            width: 26px;
            height: 18px;
            color: #FFFFFF;
            background-color: $main_color;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
            border-radius: 5px;
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
        }
    }
    &__filters-wrapper {
        margin-top: 44px;
        width: 1374px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__filters {
        display: flex;
        justify-content: space-between;
        &-item {
            width: 264px;
            height: 48px;
            background: #FFFFFF;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
            border-radius: 5px;
            padding: 0 19px 0 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 14px;
            cursor: pointer;
            &:last-child {
                margin-right: 0;
            }
        }
        &-text {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #4F4F4F;
        }
        &-triangle {
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 10px solid $main_color;    
        }
    }
    &__footer {
        width: 430px;
        height: 58px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-text {
            font-weight: 500;
            font-size: 14px;
            line-height: 38px;
            span {
                font-weight: 600;
                font-size: 24px;
                line-height: 38px;
                text-transform: uppercase;
                color: $main_color;
            }
        }
    }
}