.cards {
    margin-top: 100px;
    margin-bottom: 71px;
    &__sort {
        width: 237px;
        height: 44px;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
        border-radius: 5px;
        padding: 0 17px 0 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-text {
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
        }
        &-triangle {
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 10px solid $main_color;    
        }
    }
    &__wrapper {
        margin-top: 55px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 352px;
        // height: 558px;
        border: 1.2px solid rgba(0, 0, 0, 0.04);
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.04);
        border-radius: 5px;
    }
    &__photo {
        position: relative;
        img {
            width: 100%;
        }
        &-sticker {
            position: absolute;
            width: 123px;
            height: 26px;
            background: #FFEDBF;
            border-radius: 5px;
            top: 12px;
            left: -18px;
            font-weight: 600;
            font-size: 13px;
            line-height: 20px;
            text-align: center;
            padding-top: 3px;
        }
        &-rectangles {
            position: absolute;
            width: 302px;
            height: 4px;
            display: flex;
            justify-content: space-between;
            bottom: 14px;
            left: 25px;
        }
        &-rectan {
            width: 54px;
            height: 4px;
            background-color: #F6F5FB;
            border-radius: 5px;
            cursor: pointer;
        }
    }
    &__title {
        margin-top: 20px;
        margin-bottom: 17px;
        margin-left: 21px;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
    }
    &__descr {
        &-wrapper {
            width: 305px;
            height: 121px;
            margin-left: 22px;
            margin-right: 25px;
            display: grid;
            grid-template-columns: 66px 119px 93px;
            grid-template-rows: 60px 60px;
        }
        &-item {
            position: relative;
        }
        &-subtitle {
            font-weight: 400;
            font-size: 13px;
            line-height: 38px;
            color: #828282;
        }
        &-text {
            font-weight: 600;
            font-size: 13px;
            // line-height: 38px;
            color: #141414;
        }
    }
    &__line-one {
        &:before {
            content: '';
            position: absolute;
            width: 1px;
            height: 105px;
            left: 50px;
            top: 7px;
            background-color: rgba(0, 0, 0, 0.08);
        }
    }
    &__line-two {
        &:before {
            content: '';
            position: absolute;
            width: 1px;
            height: 57px;
            left: 94px;
            top: 7px;
            background-color: rgba(0, 0, 0, 0.08);
        }
    }
    &__line-three {
        &:before {
            content: '';
            position: absolute;
            width: 301px;
            height: 1px;
            left: -180px;
            top: 63px;
            background-color: rgba(0, 0, 0, 0.08);
        }
    }
    &__price {
        margin-top: 24px;
        padding: 0 28px 0 27px;
        display: flex;
        justify-content: space-between;
        &-start {
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
            color: #4F4F4F;
        }
        &-finish {
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            color: #828282;
            span {
                font-weight: 600;
                font-size: 20px;
                line-height: 32px;
                color: #000000;
            }
        }
    }
    &__btns {
        margin-top: 26px;
        margin-bottom: 30px;
        padding: 0 24px 0 22px;
        display: flex;
        justify-content: space-between;
    }
}

.prev {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #E0E0E0;
    border: 1.4px solid #E0E0E0;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    left: -90px;
    transition: all 0.3s;
    &:hover {
        background: $main_color;
        svg {
            transition: all 0.3s;
            stroke: #FFFFFF; fill: #FFFFFF;
        }
    }
}

.next {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #E0E0E0;
    border: 1.4px solid #E0E0E0;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    right: -90px;
    transition: all 0.3s;
    &:hover {
        background: $main_color;
        svg {
            transition: all 0.3s;
            stroke: #FFFFFF; fill: #FFFFFF;
        }
    }
    svg {
        transform: rotate(180deg);
    }
}