.special {
    padding: 16px 0 103px 0;
    &__menu {
        width: 185px;
        display: flex;
        justify-content: space-between;
        &-item {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #000000;
        }
    }
    &__title {
        margin-top: 40px;
        font-weight: 700;
        font-size: 60px;
        line-height: 73px;
    }
    &__wrapper {
        margin-top: 51px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        // width: 396px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-descr {
            width: 310px;
            font-size: 20px;
            line-height: 24px;
            margin-left: 16px;
        }
    }
}